.postbox-container .ui.input.fluid{

    margin: 20px 0;

}


.postbox-container .ui.label {
    background-color: #2185d0;
    color:#ffffff;
}

#js-aff-post-type-metabox .ui.button{

    font-size: 14px;

}